* {
  font-family: 'SF Pro Display', serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/* debugger */
.debug * { 
  outline: 1px solid gold !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
